*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
  }
  /* ..............navbar.................. */
  
  .navbar-container{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color:white;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 1000;
    margin-top: 2%;
   border-radius: 25px;
  }
  .navlogo-section{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
  }
  .navlogo-section img{
    width: 120px
  }
  .navbar-container label {
    display: none;
  
  }
  #checking{
    display: none;
  }
  .navbar-container label {
    display: none;
  }
  
  .nav-items {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav-items a{
    font-size: 1rem;
    font-family: "Poppins", serif;
    text-decoration: none;
    color: rgb(6,54,85);
  }
  .nav-items a:hover,
  .nav-items .active {
      color: #7c57ff;
  }
  .nav-items a:hover{
    color: rgb(27,77,159);
  }
  /* .......banner............ */
  
  .banner {
    position: relative;
    height: 70vh;
    display: flex;
    align-items:end;
    overflow: hidden;
  }
  
  .banner-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  }
  
  .banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
  }
  
  .banner-content {
   width: 40%;
   height: 100px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 5%;
 justify-content:end;
  background-color:white;
  border-top-right-radius: 200px;
  gap: 10px;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .banner-content h1{
    font-size: 2.6rem;
    font-family: "Syne", serif;
    background: linear-gradient(90deg, #648cff, #a07eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(30, end) forwards, blink 0.7s ease-out;
  }




  /* ...............gallery..................... */


  .gallery * {
    font-family: Nunito, sans-serif;
  }
  
  .gallery .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .gallery .responsive-container-block.bigContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }
  
  .gallery .responsive-container-block.headerContainer {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }
  
  .gallery .responsive-container-block.Container {
    max-width: 1320px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 1380px;
  }
  
  .gallery .row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .gallery .text-blk.heading {
    font-size: 36px;
    line-height: 34px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    font-family: "Syne", serif;
  }
  
  .gallery .text-blk.subHeading {
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #999999;
    font-family: "Poppins", serif;
  }
  
  .gallery .overlay {
    position: fixed;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(71, 69, 69, 0.7);
    height: 100%;
    width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  
  .gallery .overlay-inner {
    top: 50%;
    right: 0px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    max-width: 700px;
    width: fit-content;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 1;
    max-width: 50%;
    max-height: 85%;
  }
  
  .gallery .close {
    position: absolute;
    top: 9px;
    right: 15px;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    color: #474545;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .gallery .overlay-inner hdImgs {
    width: fit-content;
    height: calc(85% - 55px) display: flex
  }
  
  .gallery .overlay-inner img {
    max-height: 100%;
    max-width: 100%;
    transform: none;
  }
  
  .gallery .close:hover {
    cursor: pointer;
  }
  
  .gallery .project {
    position: absolute;
    width: 59%;
    height: 440px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery .btn-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .gallery .project:hover .btn-box {
    display: block;
  }
  
  .gallery .btn {
    cursor: pointer;
    display: none;
  }
  
  .gallery .smallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery .project.project2 {
    left: 59%;
    width: 41%;
    height: 440px;
  }
  
  .gallery .project.project3 {
    top: 440px;
    width: 41%;
    height: 940px;
  }
  
  .gallery .project.project4 {
    left: 41%;
    top: 440px;
    width: 59%;
    height: 440px;
  }
  
  .gallery .project.project5 {
    top: 880px;
    left: 41%;
    width: 29.5%;
    height: 500px;
  }
  
  .gallery .project.project6 {
    top: 880px;
    left: 70.5%;
    width: 29.5%;
    height: 500px;
  }
  
  @media (max-width: 768px) {
    .gallery .project.project2 {
      height: 245px;
    }
  
    .gallery .responsive-container-block.Container {
      max-width: 740px;
      height: 770px;
    }
  
    .gallery .project.project1 {
      height: 245px;
    }
  
    .gallery .project.project3 {
      height: 525px;
      top: 245px;
    }
  
    .gallery .project.project4 {
      top: 245px;
      height: 245px;
    }
  
    .gallery .project.project5 {
      top: 490px;
      height: 280px;
    }
  
    .gallery .project.project6 {
      top: 490px;
      height: 280px;
    }
  
    .gallery .overlay-inner {
      width: 90%;
    }
  
    .gallery .row1 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 25px;
      margin-left: 0px;
    }
  
    .gallery .text-blk.heading {
      font-size: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .gallery .project.project1 {
      position: relative;
      width: 100%;
      height: 250px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .gallery .project.project2 {
      position: relative;
      left: 0px;
      width: 100%;
      height: 250px;
      top: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .gallery .project.project3 {
      position: relative;
      top: 0px;
      width: 100%;
      height: 250px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .gallery .project.project4 {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 250px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .gallery .project.project5 {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 250px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .gallery .project.project6 {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 250px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .gallery .responsive-container-block.Container {
      height: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .gallery .text-blk.subHeading {
      font-size: 16px;
      line-height: 24px;
    }
  
    .gallery .text-blk.heading {
      font-size: 26px;
      line-height: 27px;
    }
  
    .gallery .responsive-container-block.headerContainer {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .gallery .row1 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 22px;
      margin-left: 0px;
    }
  
    .gallery .overlay-inner .hdImgs {
      width: 90%;
    }
  }



  /* ...........footer.......... */

.footer{
  width: 100%;
  height: 100px;
  background-color: rgb(6,54,85) ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}






  
@media (max-width:768px){

  /* nav */

  .navbar-container{
    height: 60px;
    padding-right: 5%;
  }
  .navlogo-section{
   width: auto;
   padding-left: 5%;

  }
  .navlogo-section img{
   width: 80px;
  }
  .nav-items {
   display: block;
   position: fixed;
   top: 0;
   right: -100%;
   background: linear-gradient(90deg, #648cff, #a07eff);
   width: 50%;
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   font-family: "Poppins", serif;
   border-radius: 10px;
   overflow-x: hidden;
 }

.nav-items a {
   line-height: 10px;
   color:white;
}

.nav-items label {
   position: absolute;
   top: -1%;
   right: 5%;
}
.nav-items label img{
   padding: 5%;
}
.nav-items input {
   display: block;
}

#checking:checked~.nav-items {
   right: 0;
}


.navbar-container label {
   display: block;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.navbar-container label img{
   width: 25px;
   margin: 50%;
}


/* banner */
.banner{
  height: 80vh;
  align-items: center;
  padding-left: 5%;
}

.banner-content{
  width: 100%;
  border-top-right-radius:0px;
  border: none;
  background-color: transparent;
}
.banner-content h1{
  font-size: 1.5rem;
}
}